 <!DOCTYPE html>
 <html lang="en">
   <head>
     <title>Index</title>
     <% include ./partials/_header %>
   </head>
   <body>
    <header>
    </header>
    <h1 style="font-family:sans-serif;"><u>Your Shortened URL's:</u></h1>
    <table style="margin:50px;">
      <% for (var url in urls) { %>
          <tr style="height:30px;">
            <form action="/urls/<%=url%>/delete" method="POST">
               <td><%=url + ":" %></td>
               <td style="width:250px;">
                 <a href="<%= urls[url].url %>"><%=urls[url].url%></a>
               </td>
               <td style="width:50px;">
                 <a href="/urls/<%=url%>">Edit</a>
               </td>
               <td>
                 <button>Delete URL <img src="https://image.flaticon.com/icons/svg/0/39.svg" width="20" height="22"></button>
               </td>
             </form>
           </tr>
       <% } %>
     </table>
 <form action="/urls/new" class="inline">
    <button class="float-left submit-button">Shorten URL's Here  <img src="http://cdn.onlinewebfonts.com/svg/img_148365.png" width="20" height="22"></button>
</form>
   </body>
 </html>
